* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* Header Section */

header {
  height: 50px;
  border-bottom: 2px solid black;
}

nav ul {
  list-style-type: none;
}

nav li {
  color: black;
  font-size: 1.2rem;
  margin: 12px 5%;
  padding-bottom: 10px;
  display: inline-block;
}

nav li:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav li:visited {
  color: black;
}

/* Banner Stylings */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;
  background-image: url('./images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerTitle {
  background-color: white;
  width: 100%;
}

.bannerTitle h2 {
  text-transform: capitalize;
}

.bannerH1Container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 100px;
  margin-right: 10px;
  margin-top: 5px;
}

.bannerH1Container h1 {
  font-family: 'Kaushan Script', serif;
  font-size: 4rem;
}

.bannerTitle h2 {
  font-family: 'Voltaire', sans-serif;
  padding-bottom: 10px;
}
