* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 50px;
  border-bottom: 2px solid black;
}

nav ul {
  list-style-type: none;
}

nav li {
  color: black;
  font-size: 1.2rem;
  margin: 12px 5%;
  padding-bottom: 10px;
  display: inline-block;
}

nav li:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav li:visited {
  color: black;
}

.bannerTitle {
  display: flex;
  justify-content: center;
}

.bannerTitle img {
  width: 40px;
}

.bannerTitle h1 {
  font-family: 'Kaushan Script', serif;
}
